.logo {
    font-family: 'Nothing You Could Do' s;
}

body {
    font-family: 'Quicksand';
}

/* hero background image */
.bgimage {
    height: 100vh;
    background: url('bgImg1.jpg');
    background-size: cover;
    position: relative;
}

/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
    color: black;
}

.hero_desc {
    font-size: 2rem;
    color: black;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* about section image css */
.imageAboutPage {
    width: 100%;
}

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}





/* pricing */
* {
    box-sizing: border-box;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

.price .header {
    background-color:
        #aa7a3c;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.button {
    background-color: #d4926f;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}